<div id="myCarousel" class="carousel slide" data-ride="carousel">
</div>
<!-- adding search section -->
<div id="searchContainer" class="row mtl mbl">
    <div class="col-md-6">
        <div class="input-group">
            <label for="geocomplete" class="sr-only">Type text to search</label>
            <input id="geocomplete" type="text" class="form-control" aria-label="..." placeholder="Type in an address" autocomplete="off">
        
            <div class="input-group-btn">
                <button id="btnSearch" class="btn btn-primary"><i class="glyphicon glyphicon-zoom-in"></i> Search</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#advSearchContainer">Advanced Search</button>
  </div>
    <div class="col-xs-12 collapse" id="advSearchContainer" >
        <div class=" top_arrow_box mtl">
            <form role="form" class="row">
    <div class="col-md-6">
                <p> auto complete dropdown</p>

    </div>
    <div class="col-md-6">
          <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">Option 1</label>
          </div>
          <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">Option 2</label>
          </div>
          <div class="checkbox disabled">
                        <label>
                            <input type="checkbox" value="" disabled>Option 3</label>
          </div>
                </div>
        </form>
      </div>
    </div>
</div>
<!-- End search section -->
<!-- start results section -->
<div id="resultsContainer">
</div>
<!-- End Results Section-->
