<div id="myCarousel" class="carousel slide" data-ride="carousel">

</div>
<!-- adding search section -->
<div id="searchContainer" class="row">
  <div class="col-lg-9" >
    <div class="input-group" style="border-left: 4px solid #333; margin-top: 20px;">
      
        <input type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">
          <button id="btnSearch" class="btn btn-primary"><i class="glyphicon glyphicon-zoom-in"></i> Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6">
      [Search results number]
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#demo">Advanced Search</button>
      <div id="demo" class="collapse in">
        <form role="form">
          <div class="checkbox">
            <label><input type="checkbox" value="">Option 1</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Option 2</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <!-- End search section -->
  <!-- start results section -->
  <div id="resultsContainer" class="row">
    
  </div>
  <!-- End Results Section-->
 